.btn {
    margin: 5px;
    font-weight: 300;
}

.heart {
    font-size: 1em !important;
}

#contact p {
    color: #333;
}

.edit {
    margin-top: 25px;
    display: block;
    color: rgba(255, 255, 255, 0.4);
}

.header-bg {
    background-color: #333;
    background-blend-mode: difference;
}

.text-light {
    color: #fff
}

#faq p a {
    color: #FFF;
    text-decoration: underline;
}

#faq p {
    color: rgba(255, 255, 255, 0.7);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: Noto Sans CJK TC,Source Han Sans TW,Noto Sans T Chinese,Source Han Sans TWHK,Microsoft Jhenghei,"微軟正黑體",Source Han Sans,Source Han Sans HK,Lantinghei TC,Heiti TC,"黑體-繁",Lihei Pro,"儷黑 Pro","Adobe 繁黑體 Std",sans-serif
}
